
<!-- <div class="container">
    <div *ngIf="isLoading" class="loading-spinner">
        <!-- <mat-progress-spinner
          mode="indeterminate"
          mat-raised-button color="accent"
        ></mat-progress-spinner> -->
    <!-- </div>
    <mat-card class="form" *ngIf="!isLoading">
      <mat-card-header>
        <mat-card-title *ngIf="!isLoginMode">Registration</mat-card-title>
        <mat-card-title *ngIf="isLoginMode">Login</mat-card-title>
      </mat-card-header>
      <form #authForm="ngForm" autocomplete="false" (ngSubmit)="onSubmit(authForm)">
        <mat-card-content>
          <mat-form-field class="form-group" appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email"
            id="email"
            ngModel
            name="email"
            required
            email/>
        </mat-form-field>
         <mat-form-field class="form-group" appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password"
            id="password"
            ngModel
            name="password"
            required
            minlength="6"/>
          </mat-form-field>
        </mat-card-content>
        <mat-card-actions>
            <button
              mat-raised-button color="accent"
              matInput type="submit"
              [disabled]="!authForm.valid"
          >
            {{ isLoginMode ? 'Log in' : 'Sign Up' }}
          </button>
          <button mat-raised-button color="accent" (click)="onSwitchMode()" type="button">
            Go to {{ isLoginMode ? 'Sign Up' : 'Login' }}
          </button>
          <p>OR</p>
          <button mat-raised-button class="google" (click)="loginWithGoogle()"><img src="../../../../assets/google.png" alt="google">Sign in with Google</button>
        </mat-card-actions>
      </form>
    </mat-card>
  </div> --> 
