mat-card-title {
    text-align: center;
}

mat-list {
    display: flex;
    justify-content: space-between;
}

p {
    min-width: 25%;
}

mat-card-actions {
    display: flex;
    justify-content: center;
}

.item__price,
.item__is__empty {
    font-size: 1.5em;
    text-align: center;
    padding-bottom: 15px;
}