/* You can add global styles to this file, and also import other style files */
@import '~@angular/material/prebuilt-themes/pink-bluegrey.css';
/* @import '~normalize.css';*/
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700&display=swap');



body{
    font-family: 'Montserrat', sans-serif;
}
.container {
    padding: 100px 0 0 80px;
}
.message a {
    display: block;
    text-decoration: none;
    color: #d3dfe8;
    margin-top: 10px;
}
.form-group {
    width: 100%;
}
